html,
body {
    margin: 0px;
    padding: 0px;
    background-color: #0E090D;
}

.main-Content {
    display: flex;
}

.myDetails {
    flex: 1;
    color: white;
    text-align: center;
    margin: auto;
}